# Python caches & build artifacts
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Virtual envs
.env
.venv
env/

# OS / Editor
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/

# Others
*.pyc

# Python cache
__pycache__/
*.pyc

# Packaging
*.egg-info/
build/
dist/

# Large example data (GitHub file size limits)
ExSeq_data/distance_matrix/
